.main {
    color: #161B25;
    height: 1800x;
}
.line {
    margin-left: 230px;
    width: 1000px;
    height: 1700px;
    background-color: #E8E8E9;
}
.conteiner{
    width: 2178px;
    height: 1800px;
}

.education{
    display:inline-block;
    padding-left: 180px;
    padding-top: 165px ;
    font-size: 42px;
}

.education p:nth-child(2) {
    font-style: 'Poppins Regular';
    font-weight: 500;
    padding-top: 47px;
    opacity: 0.7;
}
.education p:nth-child(3) {
    font-style: 'Poppins Regular';
    font-weight: 500;
    padding-top: 47px;
    opacity: 0.7;
}

.heading{
    font-style: 'Poppins SemiBold';
    font-weight: 600;
    font-size: 82px;
}

.conteiner p{
    margin: 0;
}

.Experience {
    padding-top: 165px;
    padding-left: 350px;
    vertical-align: top;
    text-align: left;
    display: inline-block;
}

iframe{
    padding-top: 32px;
}

.Hobbies {
    display: inline-block;
    font-style: 'Poppins SemiBold';
    font-weight: 600;
    padding-top: 120px;
    padding-left: 180px;
    width: 365px;
    height: 537px; 
}

.list{
    font-weight: 500;
    font-size: 38px;
    padding-top: 47px;
}

.list li{
    line-height: 80px;
}

.list li:nth-child(1){
    background: url('../img/game-controller.png') 0 50% no-repeat;
    background-size: 50px 50px;
    padding-left: 80px;
}

.list li:nth-child(2){
    background: url('../img/muscle.png') 0 50%  no-repeat ;
    background-size: 50px 50px;
    padding-left: 80px;
}

.list li:nth-child(3){
    background: url('../img/graphic-design.png') 0 50% no-repeat ;
    background-size: 50px 50px;
    padding-left: 80px;
}

.list li:nth-child(4){
    background: url('../img/chef.png') 0 50% no-repeat ;
    background-size: 50px 50px;
    padding-left: 80px;
}

.list li:nth-child(5){
    background: url('../img/youtube.png') 0 50% no-repeat ;
    background-size: 50px 50px;
    padding-left: 80px;
}

.Skils{
    font-size: 83px;
    vertical-align: top;
    display: inline-block;
    font-style: 'Poppins SemiBold';
    font-weight: 600;
    padding-top: 120px;
    padding-left: 800px;
    width: 365px;
    height: 537px;
}

.Skils li{
    font-weight: 500;
    font-size: 41px;
    padding-top: 39px;
}

.list_skils1 {
    width: 675px;
    float:left;
    
}

.list_skils2 {
    margin-left: 600px;
    width: 600px;
}

.imgs{
    display: inline-block;
    padding-left: 136px;
}

.img{
    margin-left: 19px;
}

.imgs_2{
    display: inline-block;  
}

.imgs_3{
    display: inline-block;
    padding-left: 45px;
    
}

.imgs_4{
    display: inline-block;  
    padding-left: 141px;
}

.imgs_5{
    display: inline-block;
    padding-left: 63px;  
}

footer{
    height: 175px;
    background: #161B25;
}

footer p{
    font-size: 35px;
    padding-top: 76px;
    text-align: center;
}
